<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension" />
        <defaultDocument enabled="true">
            <files>
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <authentication mode="Windows" />
        <identity impersonate="true" />
        <authorization>
            <allow users="*" />
        </authorization>
    </system.web>
</configuration>
